@charset "UTF-8";
.button {
  --button-width: 152px;
  --background: #404660;
  --background-transparent: rgba(64, 70, 96, 0);
  --background-hover: #3A4059;
  --background-back: #1E2235;
  --shadow: rgba(0, 9, 61, 0.125);
  --text: #F6F8FF;
  --paper: #F6F8FF;
  --paper-lines: #D1D6EE;
  --paper-shadow: rgba(0, 9, 61, 0.15);
  --zipper: #BBC1E1;
  --zipper-end: #D1D6EE;
  --zipper-line: #8A91B4;
  --zipper-lines: #646B8C;
  --tick: #F6F8FF;
  display: -webkit-box;
  display: flex;
  outline: none;
  cursor: pointer;
  text-align: center;
  border: 0;
  padding: 0;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  border-radius: 3px;
  color: var(--text);
  background: var(--background-back);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-transform: scale(var(--scale, 1)) translateZ(0);
          transform: scale(var(--scale, 1)) translateZ(0);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
.button:not(.compress):active {
  --scale: .95;
}
.button:not(.compress):hover {
  --b: var(--background-hover);
}
.button .paper {
  width: 26px;
  height: 32px;
  pointer-events: none;
  position: absolute;
  top: -2px;
  left: var(--left, 50%);
  margin: 0 0 0 -13px;
  background: var(--paper);
  border-radius: 3px;
  box-shadow: 0 1px 1px var(--paper-shadow);
  opacity: 0;
  -webkit-transform: translate(var(--x, 0), var(--y, -68px));
          transform: translate(var(--x, 0), var(--y, -68px));
}
.button .paper:before {
  content: '';
  position: absolute;
  left: 4px;
  top: 6px;
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background: var(--paper-lines);
  box-shadow: 0 6px 0 var(--paper-lines), 0 12px 0 var(--paper-lines), 0 18px 0 var(--paper-lines);
}
.button .paper.left {
  --left: 25%;
  --x: -12px;
  --y: -52px;
}
.button .paper.right {
  --left: 75%;
  --x: 12px;
  --y: -52px;
}
.button .inner {
  position: relative;
  z-index: 1;
  padding: 10px 0;
  width: var(--button-width);
  border-radius: 3px;
  color: var(--text);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  background: var(--b, var(--background));
  box-shadow: 0 1px 2px var(--shadow), 0 4px 7px var(--shadow);
  -webkit-transition: background .4s;
  transition: background .4s;
}
.button .inner span {
  display: block;
  opacity: var(--span-o, 1);
  -webkit-transform: translateY(var(--span-y, 0)) translateZ(0);
          transform: translateY(var(--span-y, 0)) translateZ(0);
  -webkit-transition: opacity 0.3s linear var(--span-de, 0.5s), -webkit-transform 0.3s ease var(--span-de, 0.5s);
  transition: opacity 0.3s linear var(--span-de, 0.5s), -webkit-transform 0.3s ease var(--span-de, 0.5s);
  transition: transform 0.3s ease var(--span-de, 0.5s), opacity 0.3s linear var(--span-de, 0.5s);
  transition: transform 0.3s ease var(--span-de, 0.5s), opacity 0.3s linear var(--span-de, 0.5s), -webkit-transform 0.3s ease var(--span-de, 0.5s);
}
.button .inner svg {
  width: 20px;
  height: 16px;
  display: block;
  position: absolute;
  top: 14px;
  left: calc(var(--button-width) / 2);
  margin-left: -10px;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--tick);
  opacity: var(--tick-o, 0);
  -webkit-transform: scale(var(--tick-s, 0.5));
          transform: scale(var(--tick-s, 0.5));
  -webkit-transition: opacity 0.3s linear var(--tick-de, 0s), -webkit-transform 0.4s ease var(--tick-de, 0s);
  transition: opacity 0.3s linear var(--tick-de, 0s), -webkit-transform 0.4s ease var(--tick-de, 0s);
  transition: transform 0.4s ease var(--tick-de, 0s), opacity 0.3s linear var(--tick-de, 0s);
  transition: transform 0.4s ease var(--tick-de, 0s), opacity 0.3s linear var(--tick-de, 0s), -webkit-transform 0.4s ease var(--tick-de, 0s);
}
.button .inner .zipper {
  width: calc(var(--button-width) + 12px);
  position: absolute;
  top: 4px;
  left: 0;
  height: 12px;
  overflow: hidden;
  opacity: 0;
}
.button .inner .zipper:before, .button .inner .zipper:after {
  content: '';
  position: absolute;
  top: var(--top, 1px);
  left: var(--left, 1px);
  height: 3px;
  width: 2px;
  border-radius: 1px;
  box-shadow: 5px 0 0 var(--zipper-lines), 10px 0 0 var(--zipper-lines), 15px 0 0 var(--zipper-lines), 20px 0 0 var(--zipper-lines), 25px 0 0 var(--zipper-lines), 30px 0 0 var(--zipper-lines), 35px 0 0 var(--zipper-lines), 40px 0 0 var(--zipper-lines), 45px 0 0 var(--zipper-lines), 50px 0 0 var(--zipper-lines), 55px 0 0 var(--zipper-lines), 60px 0 0 var(--zipper-lines), 65px 0 0 var(--zipper-lines), 70px 0 0 var(--zipper-lines), 75px 0 0 var(--zipper-lines), 80px 0 0 var(--zipper-lines), 85px 0 0 var(--zipper-lines), 90px 0 0 var(--zipper-lines), 95px 0 0 var(--zipper-lines), 100px 0 0 var(--zipper-lines), 105px 0 0 var(--zipper-lines), 110px 0 0 var(--zipper-lines), 115px 0 0 var(--zipper-lines), 120px 0 0 var(--zipper-lines), 125px 0 0 var(--zipper-lines), 130px 0 0 var(--zipper-lines), 135px 0 0 var(--zipper-lines), 140px 0 0 var(--zipper-lines), 145px 0 0 var(--zipper-lines);
  background: var(--zipper-lines);
}
.button .inner .zipper:after {
  --top: 8px;
  --left: 3px;
}
.button .inner .zipper .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 200%;
  right: 12px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(var(--background-transparent)), color-stop(33.33%, var(--background-transparent)), color-stop(66.66%, var(--background)), to(var(--background)));
  background: linear-gradient(to right, var(--background-transparent) 0%, var(--background-transparent) 33.33%, var(--background) 66.66%, var(--background) 100%);
  background-size: 300% 100%;
  background-position-x: var(--gradient, 100%);
  -webkit-transition: background-position var(--gradient-d, 0s) ease var(--gradient-de, 0s);
  transition: background-position var(--gradient-d, 0s) ease var(--gradient-de, 0s);
}
.button .inner .zipper .line {
  width: calc(var(--button-width) + 12);
  height: 2px;
  margin: 5px 0;
  position: relative;
  left: -12px;
  z-index: 2;
  background: var(--zipper-line);
  -webkit-transform: translateX(calc(calc(var(--button-width) * -1) + 8px));
          transform: translateX(calc(calc(var(--button-width) * -1) + 8px));
}
.button .inner .zipper .line:before, .button .inner .zipper .line:after {
  content: '';
  position: absolute;
  right: var(--right, 0);
  width: var(--width, 6px);
  height: var(--height, 2px);
  border-radius: 1px;
}
.button .inner .zipper .line:before {
  background: var(--zipper-end);
}
.button .inner .zipper .line:after {
  --right: -7px;
  --width: 8px;
  --height: 8px;
  -webkit-transform: translate(0, -3px) scaleY(0.6) rotate(-45deg);
          transform: translate(0, -3px) scaleY(0.6) rotate(-45deg);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  background: var(--zipper);
}
.button.compress {
  --span-o: 0;
  --span-y: 8px;
  --span-de: 0s;
  --tick-o: 1;
  --tick-s: 1;
  --tick-de: 3.2s;
  --gradient: 0%;
  --gradient-d: 1.8s;
  --gradient-de: 1.8s;
}
.button.compress .paper {
  -webkit-animation: paper 1.8s linear forwards;
          animation: paper 1.8s linear forwards;
}
.button.compress .inner {
  -webkit-animation: fold 1.8s linear forwards;
          animation: fold 1.8s linear forwards;
}
.button.compress .inner .zipper {
  -webkit-animation: zipper 3.5s linear;
          animation: zipper 3.5s linear;
}
.button.compress .inner .zipper .line {
  -webkit-animation: line 1.2s linear forwards 1.8s;
          animation: line 1.2s linear forwards 1.8s;
}

@-webkit-keyframes paper {
  10%,
    100% {
    opacity: 1;
  }
  0%,
    5% {
    -webkit-transform: translate(var(--x, 0), var(--y, -68px));
            transform: translate(var(--x, 0), var(--y, -68px));
  }
  30% {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  50%,
    70% {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
  }
  95%,
    100% {
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
}

@keyframes paper {
  10%,
    100% {
    opacity: 1;
  }
  0%,
    5% {
    -webkit-transform: translate(var(--x, 0), var(--y, -68px));
            transform: translate(var(--x, 0), var(--y, -68px));
  }
  30% {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  50%,
    70% {
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
  }
  95%,
    100% {
    -webkit-transform: translate(0, 4px);
            transform: translate(0, 4px);
  }
}
@-webkit-keyframes line {
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes line {
  60% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  80% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes fold {
  10%,
    80% {
    -webkit-transform: perspective(500px) rotateX(-20deg) translateZ(16px);
            transform: perspective(500px) rotateX(-20deg) translateZ(16px);
  }
}
@keyframes fold {
  10%,
    80% {
    -webkit-transform: perspective(500px) rotateX(-20deg) translateZ(16px);
            transform: perspective(500px) rotateX(-20deg) translateZ(16px);
  }
}
@-webkit-keyframes zipper {
  20%,
    90% {
    opacity: 1;
  }
}
@keyframes zipper {
  20%,
    90% {
    opacity: 1;
  }
}


/* button css */
.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.learn-more {
  width: 12rem;
  height: auto;
}
.learn-more .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #3abade;
  border-radius: 1.625rem;
  
}
.learn-more .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.learn-more .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.learn-more .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  width:200px;
}
.learn-more:hover .circle {
  width: 250px;
}
.learn-more:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
.learn-more:hover .button-text {
  color: #fff;
}

	#deleDate {
  --background: #2B3044;
  --background-hover: #1E2235;
  --text: #fff;
  --shadow: rgba(0, 9, 61, .2);
  --paper: #5C86FF;
  --paper-lines: #fff;
  --trash: #E1E6F9;
  --trash-lines: #BBC1E1;
  --check: #fff;
  --check-background: #5C86FF;
  position: relative;
  border: none;
  outline: none;
  background: none;
  padding: 10px 24px;
  border-radius: 7px;
  min-width: 142px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  color: var(--text);
  background: var(--btn, var(--background));
  box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 8px) var(--shadow);
  -webkit-transform: scale(var(--scale, 1));
          transform: scale(var(--scale, 1));
  -webkit-transition: box-shadow .3s, background .3s, -webkit-transform .3s;
  transition: box-shadow .3s, background .3s, -webkit-transform .3s;
  transition: transform .3s, box-shadow .3s, background .3s;
  transition: transform .3s, box-shadow .3s, background .3s, -webkit-transform .3s;
}
#deleDate span {
  display: block;
  font-size: 14px;
  line-height: 25px;
  font-weight: 600;
  opacity: var(--span-opacity, 1);
  -webkit-transform: translateX(var(--span-x, 0)) translateZ(0);
          transform: translateX(var(--span-x, 0)) translateZ(0);
  -webkit-transition: opacity 0.3s ease var(--span-delay, 0.2s), -webkit-transform 0.4s ease var(--span-delay, 0.2s);
  transition: opacity 0.3s ease var(--span-delay, 0.2s), -webkit-transform 0.4s ease var(--span-delay, 0.2s);
  transition: transform 0.4s ease var(--span-delay, 0.2s), opacity 0.3s ease var(--span-delay, 0.2s);
  transition: transform 0.4s ease var(--span-delay, 0.2s), opacity 0.3s ease var(--span-delay, 0.2s), -webkit-transform 0.4s ease var(--span-delay, 0.2s);
}
#deleDate .trash {
  display: block;
  position: relative;
  left: -8px;
  -webkit-transform: translate(var(--trash-x, 0), var(--trash-y, 1px)) translateZ(0) scale(var(--trash-scale, 0.64));
          transform: translate(var(--trash-x, 0), var(--trash-y, 1px)) translateZ(0) scale(var(--trash-scale, 0.64));
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
#deleDate .trash:before, #deleDate .trash:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 2px;
  border-radius: 1px;
  background: var(--icon, var(--trash));
  bottom: 100%;
  -webkit-transform-origin: 50% 6px;
          transform-origin: 50% 6px;
  -webkit-transform: translate(var(--x, 3px), 2px) scaleY(var(--sy, 0.7)) rotate(var(--r, 0deg));
          transform: translate(var(--x, 3px), 2px) scaleY(var(--sy, 0.7)) rotate(var(--r, 0deg));
  -webkit-transition: background .3s, -webkit-transform .4s;
  transition: background .3s, -webkit-transform .4s;
  transition: transform .4s, background .3s;
  transition: transform .4s, background .3s, -webkit-transform .4s;
}
#deleDate .trash:before {
  left: 1px;
}
#deleDate .trash:after {
  right: 1px;
  --x: -3px;
}
#deleDate .trash .top {
  position: absolute;
  overflow: hidden;
  left: -4px;
  right: -4px;
  bottom: 100%;
  height: 40px;
  z-index: 1;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
#deleDate .trash .top:before, #deleDate .trash .top:after {
  content: '';
  position: absolute;
  border-radius: 1px;
  background: var(--icon, var(--trash));
  width: var(--w, 12px);
  height: var(--h, 2px);
  left: var(--l, 8px);
  bottom: var(--b, 5px);
  -webkit-transition: background .3s, -webkit-transform .4s;
  transition: background .3s, -webkit-transform .4s;
  transition: background .3s, transform .4s;
  transition: background .3s, transform .4s, -webkit-transform .4s;
}
#deleDate .trash .top:after {
  --w: 28px;
  --h: 2px;
  --l: 0;
  --b: 0;
  -webkit-transform: scaleX(var(--trash-line-scale, 1));
          transform: scaleX(var(--trash-line-scale, 1));
}
#deleDate .trash .top .paper {
  width: 14px;
  height: 18px;
  background: var(--paper);
  left: 7px;
  bottom: 0;
  border-radius: 1px;
  position: absolute;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  opacity: 0;
}
#deleDate .trash .top .paper:before, #deleDate .trash .top .paper:after {
  content: '';
  width: var(--w, 10px);
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 2px;
  top: var(--t, 2px);
  background: var(--paper-lines);
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
  box-shadow: 0 9px 0 var(--paper-lines);
}
#deleDate .trash .top .paper:after {
  --t: 5px;
  --w: 7px;
}
#deleDate .trash .box {
  width: 20px;
  height: 25px;
  border: 2px solid var(--icon, var(--trash));
  border-radius: 1px 1px 4px 4px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}
#deleDate .trash .box:before, #deleDate .trash .box:after {
  content: '';
  position: absolute;
  width: 4px;
  height: var(--h, 20px);
  top: 0;
  left: var(--l, 50%);
  background: var(--b, var(--trash-lines));
}
#deleDate .trash .box:before {
  border-radius: 2px;
  margin-left: -2px;
  -webkit-transform: translateX(-3px) scale(0.6);
          transform: translateX(-3px) scale(0.6);
  box-shadow: 10px 0 0 var(--trash-lines);
  opacity: var(--trash-lines-opacity, 1);
  -webkit-transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, -webkit-transform .4s;
  transition: transform .4s, opacity .4s;
  transition: transform .4s, opacity .4s, -webkit-transform .4s;
}
#deleDate .trash .box:after {
  --h: 16px;
  --b: var(--paper);
  --l: 1px;
  -webkit-transform: translate(-0.5px, -16px) scaleX(0.5);
          transform: translate(-0.5px, -16px) scaleX(0.5);
  box-shadow: 7px 0 0 var(--paper), 14px 0 0 var(--paper), 21px 0 0 var(--paper);
}
#deleDate .trash .check {
  padding: 4px 3px;
  border-radius: 50%;
  background: var(--check-background);
  position: absolute;
  left: 2px;
  top: 24px;
  opacity: var(--check-opacity, 0);
  -webkit-transform: translateY(var(--check-y, 0)) scale(var(--check-scale, 0.2));
          transform: translateY(var(--check-y, 0)) scale(var(--check-scale, 0.2));
  -webkit-transition: opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s), -webkit-transform var(--check-duration, 0.2s) ease var(--check-delay, 0s);
  transition: opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s), -webkit-transform var(--check-duration, 0.2s) ease var(--check-delay, 0s);
  transition: transform var(--check-duration, 0.2s) ease var(--check-delay, 0s), opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s);
  transition: transform var(--check-duration, 0.2s) ease var(--check-delay, 0s), opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s), -webkit-transform var(--check-duration, 0.2s) ease var(--check-delay, 0s);
}
#deleDate .trash .check svg {
  width: 8px;
  height: 6px;
  display: block;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 9px;
  stroke-dashoffset: var(--check-offset, 9px);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--check);
  -webkit-transition: stroke-dashoffset 0.4s ease var(--checkmark-delay, 0.4s);
  transition: stroke-dashoffset 0.4s ease var(--checkmark-delay, 0.4s);
}
#deleDate .delete {
  --span-opacity: 0;
  --span-x: 16px;
  --span-delay: 0s;
  --trash-x: 46px;
  --trash-y: 2px;
  --trash-scale: 1;
  --trash-lines-opacity: 0;
  --trash-line-scale: 0;
  --icon: #fff;
  --check-offset: 0;
  --check-opacity: 1;
  --check-scale: 1;
  --check-y: 16px;
  --check-delay: 1.7s;
  --checkmark-delay: 2.1s;
  --check-duration: .55s;
  --check-duration-opacity: .3s;
}
#deleDate.delete .trash:before, #deleDate.delete .trash:after {
  --sy: 1;
  --x: 0;
}
#deleDate.delete .trash:before {
  --r: 40deg;
}
#deleDate.delete .trash:after {
  --r: -40deg;
}
#deleDate.delete .trash .top .paper {
  -webkit-animation: paper 1.5s linear forwards .5s;
          animation: paper 1.5s linear forwards .5s;
}
#deleDate.delete .trash .box:after {
  -webkit-animation: cut 1.5s linear forwards .5s;
          animation: cut 1.5s linear forwards .5s;
}
#deleDate.delete, #deleDate:hover {
  --btn: var(--background-hover);
  --shadow-y: 5px;
  --shadow-blur: 9px;
}
#deleDate:active {
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --scale: .94;
}

#addDate {
  --background: #2B3044;
  --background-hover: #1E2235;
  --text: #fff;
  --shadow: rgba(0, 9, 61, .2);
  --paper: #5C86FF;
  --paper-lines: #fff;
  --trash: #E1E6F9;
  --trash-lines: #BBC1E1;
  --check: #fff;
  --check-background: #5C86FF;
  position: relative;
  border: none;
  outline: none;
  background: none;
  padding: 10px 24px;
  border-radius: 7px;
  min-width: 142px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  color: var(--text);
  background: var(--btn, var(--background));
  box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 8px) var(--shadow);
  -webkit-transform: scale(var(--scale, 1));
          transform: scale(var(--scale, 1));
  -webkit-transition: box-shadow .3s, background .3s, -webkit-transform .3s;
  transition: box-shadow .3s, background .3s, -webkit-transform .3s;
  transition: transform .3s, box-shadow .3s, background .3s;
  transition: transform .3s, box-shadow .3s, background .3s, -webkit-transform .3s;
}
#addDate span {
  display: block;
  font-size: 14px;
  line-height: 25px;
  font-weight: 600;
  opacity: var(--span-opacity, 1);
  -webkit-transform: translateX(var(--span-x, 0)) translateZ(0);
          transform: translateX(var(--span-x, 0)) translateZ(0);
  -webkit-transition: opacity 0.3s ease var(--span-delay, 0.2s), -webkit-transform 0.4s ease var(--span-delay, 0.2s);
  transition: opacity 0.3s ease var(--span-delay, 0.2s), -webkit-transform 0.4s ease var(--span-delay, 0.2s);
  transition: transform 0.4s ease var(--span-delay, 0.2s), opacity 0.3s ease var(--span-delay, 0.2s);
  transition: transform 0.4s ease var(--span-delay, 0.2s), opacity 0.3s ease var(--span-delay, 0.2s), -webkit-transform 0.4s ease var(--span-delay, 0.2s);
}
#addDate .trash {
  display: block;
  position: relative;
  left: -8px;
  -webkit-transform: translate(var(--trash-x, 0), var(--trash-y, 1px)) translateZ(0) scale(var(--trash-scale, 0.64));
          transform: translate(var(--trash-x, 0), var(--trash-y, 1px)) translateZ(0) scale(var(--trash-scale, 0.64));
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
#addDate .trash:before, #addDate .trash:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 2px;
  border-radius: 1px;
  background: var(--icon, var(--trash));
  bottom: 100%;
  -webkit-transform-origin: 50% 6px;
          transform-origin: 50% 6px;
  -webkit-transform: translate(var(--x, 3px), 2px) scaleY(var(--sy, 0.7)) rotate(var(--r, 0deg));
          transform: translate(var(--x, 3px), 2px) scaleY(var(--sy, 0.7)) rotate(var(--r, 0deg));
  -webkit-transition: background .3s, -webkit-transform .4s;
  transition: background .3s, -webkit-transform .4s;
  transition: transform .4s, background .3s;
  transition: transform .4s, background .3s, -webkit-transform .4s;
}
#addDate .trash:before {
  left: 1px;
}
#addDate .trash:after {
  right: 1px;
  --x: -3px;
}
#addDate .trash .top {
  position: absolute;
  overflow: hidden;
  left: -4px;
  right: -4px;
  bottom: 100%;
  height: 40px;
  z-index: 1;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
#addDate .trash .top:before, #addDate .trash .top:after {
  content: '';
  position: absolute;
  border-radius: 1px;
  background: var(--icon, var(--trash));
  width: var(--w, 12px);
  height: var(--h, 2px);
  left: var(--l, 8px);
  bottom: var(--b, 5px);
  -webkit-transition: background .3s, -webkit-transform .4s;
  transition: background .3s, -webkit-transform .4s;
  transition: background .3s, transform .4s;
  transition: background .3s, transform .4s, -webkit-transform .4s;
}
#addDate .trash .top:after {
  --w: 28px;
  --h: 2px;
  --l: 0;
  --b: 0;
  -webkit-transform: scaleX(var(--trash-line-scale, 1));
          transform: scaleX(var(--trash-line-scale, 1));
}
#addDate .trash .top .paper {
  width: 14px;
  height: 18px;
  background: var(--paper);
  left: 7px;
  bottom: 0;
  border-radius: 1px;
  position: absolute;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  opacity: 0;
}
#addDate .trash .top .paper:before, #addDate .trash .top .paper:after {
  content: '';
  width: var(--w, 10px);
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 2px;
  top: var(--t, 2px);
  background: var(--paper-lines);
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
  box-shadow: 0 9px 0 var(--paper-lines);
}
#addDate .trash .top .paper:after {
  --t: 5px;
  --w: 7px;
}
#addDate .trash .box {
  width: 20px;
  height: 25px;
  border: 2px solid var(--icon, var(--trash));
  border-radius: 1px 1px 4px 4px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}
#addDate .trash .box:before, #addDate .trash .box:after {
  content: '';
  position: absolute;
  width: 4px;
  height: var(--h, 20px);
  top: 0;
  left: var(--l, 50%);
  background: var(--b, var(--trash-lines));
}
#addDate .trash .box:before {
  border-radius: 2px;
  margin-left: -2px;
  -webkit-transform: translateX(-3px) scale(0.6);
          transform: translateX(-3px) scale(0.6);
  box-shadow: 10px 0 0 var(--trash-lines);
  opacity: var(--trash-lines-opacity, 1);
  -webkit-transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, -webkit-transform .4s;
  transition: transform .4s, opacity .4s;
  transition: transform .4s, opacity .4s, -webkit-transform .4s;
}
#addDate .trash .box:after {
  --h: 16px;
  --b: var(--paper);
  --l: 1px;
  -webkit-transform: translate(-0.5px, -16px) scaleX(0.5);
          transform: translate(-0.5px, -16px) scaleX(0.5);
  box-shadow: 7px 0 0 var(--paper), 14px 0 0 var(--paper), 21px 0 0 var(--paper);
}
#addDate .trash .check {
  padding: 4px 3px;
  border-radius: 50%;
  background: var(--check-background);
  position: absolute;
  left: 2px;
  top: 24px;
  opacity: var(--check-opacity, 0);
  -webkit-transform: translateY(var(--check-y, 0)) scale(var(--check-scale, 0.2));
          transform: translateY(var(--check-y, 0)) scale(var(--check-scale, 0.2));
  -webkit-transition: opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s), -webkit-transform var(--check-duration, 0.2s) ease var(--check-delay, 0s);
  transition: opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s), -webkit-transform var(--check-duration, 0.2s) ease var(--check-delay, 0s);
  transition: transform var(--check-duration, 0.2s) ease var(--check-delay, 0s), opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s);
  transition: transform var(--check-duration, 0.2s) ease var(--check-delay, 0s), opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s), -webkit-transform var(--check-duration, 0.2s) ease var(--check-delay, 0s);
}
#addDate .trash .check svg {
  width: 8px;
  height: 6px;
  display: block;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 9px;
  stroke-dashoffset: var(--check-offset, 9px);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--check);
  -webkit-transition: stroke-dashoffset 0.4s ease var(--checkmark-delay, 0.4s);
  transition: stroke-dashoffset 0.4s ease var(--checkmark-delay, 0.4s);
}
#addDate .delete {
  --span-opacity: 0;
  --span-x: 16px;
  --span-delay: 0s;
  --trash-x: 46px;
  --trash-y: 2px;
  --trash-scale: 1;
  --trash-lines-opacity: 0;
  --trash-line-scale: 0;
  --icon: #fff;
  --check-offset: 0;
  --check-opacity: 1;
  --check-scale: 1;
  --check-y: 16px;
  --check-delay: 1.7s;
  --checkmark-delay: 2.1s;
  --check-duration: .55s;
  --check-duration-opacity: .3s;
}
#addDate.delete .trash:before, #addDate.delete .trash:after {
  --sy: 1;
  --x: 0;
}
#addDate.delete .trash:before {
  --r: 40deg;
}
#addDate.delete .trash:after {
  --r: -40deg;
}
#addDate.delete .trash .top .paper {
  -webkit-animation: paper 1.5s linear forwards .5s;
          animation: paper 1.5s linear forwards .5s;
}
#addDate.delete .trash .box:after {
  -webkit-animation: cut 1.5s linear forwards .5s;
          animation: cut 1.5s linear forwards .5s;
}
#addDate.delete, #addDate:hover {
  --btn: var(--background-hover);
  --shadow-y: 5px;
  --shadow-blur: 9px;
}
#addDate:active {
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --scale: .94;
}

#apiup {
  --background: #2B3044;
  --background-hover: #1E2235;
  --text: #fff;
  --shadow: rgba(0, 9, 61, .2);
  --paper: #5C86FF;
  --paper-lines: #fff;
  --trash: #E1E6F9;
  --trash-lines: #BBC1E1;
  --check: #fff;
  --check-background: #5C86FF;
  position: relative;
  border: none;
  outline: none;
  background: none;
  padding: 10px 24px;
  border-radius: 7px;
  min-width: 142px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  color: var(--text);
  background: var(--btn, var(--background));
  box-shadow: 0 var(--shadow-y, 4px) var(--shadow-blur, 8px) var(--shadow);
  -webkit-transform: scale(var(--scale, 1));
          transform: scale(var(--scale, 1));
  -webkit-transition: box-shadow .3s, background .3s, -webkit-transform .3s;
  transition: box-shadow .3s, background .3s, -webkit-transform .3s;
  transition: transform .3s, box-shadow .3s, background .3s;
  transition: transform .3s, box-shadow .3s, background .3s, -webkit-transform .3s;
}
#apiup span {
  display: block;
  font-size: 14px;
  line-height: 25px;
  font-weight: 600;
  opacity: var(--span-opacity, 1);
  -webkit-transform: translateX(var(--span-x, 0)) translateZ(0);
          transform: translateX(var(--span-x, 0)) translateZ(0);
  -webkit-transition: opacity 0.3s ease var(--span-delay, 0.2s), -webkit-transform 0.4s ease var(--span-delay, 0.2s);
  transition: opacity 0.3s ease var(--span-delay, 0.2s), -webkit-transform 0.4s ease var(--span-delay, 0.2s);
  transition: transform 0.4s ease var(--span-delay, 0.2s), opacity 0.3s ease var(--span-delay, 0.2s);
  transition: transform 0.4s ease var(--span-delay, 0.2s), opacity 0.3s ease var(--span-delay, 0.2s), -webkit-transform 0.4s ease var(--span-delay, 0.2s);
}
#apiup .trash {
  display: block;
  position: relative;
  left: -8px;
  -webkit-transform: translate(var(--trash-x, 0), var(--trash-y, 1px)) translateZ(0) scale(var(--trash-scale, 0.64));
          transform: translate(var(--trash-x, 0), var(--trash-y, 1px)) translateZ(0) scale(var(--trash-scale, 0.64));
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
#apiup .trash:before, #apiup .trash:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 2px;
  border-radius: 1px;
  background: var(--icon, var(--trash));
  bottom: 100%;
  -webkit-transform-origin: 50% 6px;
          transform-origin: 50% 6px;
  -webkit-transform: translate(var(--x, 3px), 2px) scaleY(var(--sy, 0.7)) rotate(var(--r, 0deg));
          transform: translate(var(--x, 3px), 2px) scaleY(var(--sy, 0.7)) rotate(var(--r, 0deg));
  -webkit-transition: background .3s, -webkit-transform .4s;
  transition: background .3s, -webkit-transform .4s;
  transition: transform .4s, background .3s;
  transition: transform .4s, background .3s, -webkit-transform .4s;
}
#apiup .trash:before {
  left: 1px;
}
#apiup .trash:after {
  right: 1px;
  --x: -3px;
}
#apiup .trash .top {
  position: absolute;
  overflow: hidden;
  left: -4px;
  right: -4px;
  bottom: 100%;
  height: 40px;
  z-index: 1;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
#apiup .trash .top:before, #apiup .trash .top:after {
  content: '';
  position: absolute;
  border-radius: 1px;
  background: var(--icon, var(--trash));
  width: var(--w, 12px);
  height: var(--h, 2px);
  left: var(--l, 8px);
  bottom: var(--b, 5px);
  -webkit-transition: background .3s, -webkit-transform .4s;
  transition: background .3s, -webkit-transform .4s;
  transition: background .3s, transform .4s;
  transition: background .3s, transform .4s, -webkit-transform .4s;
}
#apiup .trash .top:after {
  --w: 28px;
  --h: 2px;
  --l: 0;
  --b: 0;
  -webkit-transform: scaleX(var(--trash-line-scale, 1));
          transform: scaleX(var(--trash-line-scale, 1));
}
#apiup .trash .top .paper {
  width: 14px;
  height: 18px;
  background: var(--paper);
  left: 7px;
  bottom: 0;
  border-radius: 1px;
  position: absolute;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  opacity: 0;
}
#apiup .trash .top .paper:before, #apiup .trash .top .paper:after {
  content: '';
  width: var(--w, 10px);
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 2px;
  top: var(--t, 2px);
  background: var(--paper-lines);
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
  box-shadow: 0 9px 0 var(--paper-lines);
}
#apiup .trash .top .paper:after {
  --t: 5px;
  --w: 7px;
}
#apiup .trash .box {
  width: 20px;
  height: 25px;
  border: 2px solid var(--icon, var(--trash));
  border-radius: 1px 1px 4px 4px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}
#apiup .trash .box:before, #apiup .trash .box:after {
  content: '';
  position: absolute;
  width: 4px;
  height: var(--h, 20px);
  top: 0;
  left: var(--l, 50%);
  background: var(--b, var(--trash-lines));
}
#apiup .trash .box:before {
  border-radius: 2px;
  margin-left: -2px;
  -webkit-transform: translateX(-3px) scale(0.6);
          transform: translateX(-3px) scale(0.6);
  box-shadow: 10px 0 0 var(--trash-lines);
  opacity: var(--trash-lines-opacity, 1);
  -webkit-transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, -webkit-transform .4s;
  transition: transform .4s, opacity .4s;
  transition: transform .4s, opacity .4s, -webkit-transform .4s;
}
#apiup .trash .box:after {
  --h: 16px;
  --b: var(--paper);
  --l: 1px;
  -webkit-transform: translate(-0.5px, -16px) scaleX(0.5);
          transform: translate(-0.5px, -16px) scaleX(0.5);
  box-shadow: 7px 0 0 var(--paper), 14px 0 0 var(--paper), 21px 0 0 var(--paper);
}
#apiup .trash .check {
  padding: 4px 3px;
  border-radius: 50%;
  background: var(--check-background);
  position: absolute;
  left: 2px;
  top: 24px;
  opacity: var(--check-opacity, 0);
  -webkit-transform: translateY(var(--check-y, 0)) scale(var(--check-scale, 0.2));
          transform: translateY(var(--check-y, 0)) scale(var(--check-scale, 0.2));
  -webkit-transition: opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s), -webkit-transform var(--check-duration, 0.2s) ease var(--check-delay, 0s);
  transition: opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s), -webkit-transform var(--check-duration, 0.2s) ease var(--check-delay, 0s);
  transition: transform var(--check-duration, 0.2s) ease var(--check-delay, 0s), opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s);
  transition: transform var(--check-duration, 0.2s) ease var(--check-delay, 0s), opacity var(--check-duration-opacity, 0.2s) ease var(--check-delay, 0s), -webkit-transform var(--check-duration, 0.2s) ease var(--check-delay, 0s);
}
#apiup .trash .check svg {
  width: 8px;
  height: 6px;
  display: block;
  fill: none;
  stroke-width: 1.5;
  stroke-dasharray: 9px;
  stroke-dashoffset: var(--check-offset, 9px);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--check);
  -webkit-transition: stroke-dashoffset 0.4s ease var(--checkmark-delay, 0.4s);
  transition: stroke-dashoffset 0.4s ease var(--checkmark-delay, 0.4s);
}
#apiup .delete {
  --span-opacity: 0;
  --span-x: 16px;
  --span-delay: 0s;
  --trash-x: 46px;
  --trash-y: 2px;
  --trash-scale: 1;
  --trash-lines-opacity: 0;
  --trash-line-scale: 0;
  --icon: #fff;
  --check-offset: 0;
  --check-opacity: 1;
  --check-scale: 1;
  --check-y: 16px;
  --check-delay: 1.7s;
  --checkmark-delay: 2.1s;
  --check-duration: .55s;
  --check-duration-opacity: .3s;
}
#apiup.delete .trash:before, #apiup.delete .trash:after {
  --sy: 1;
  --x: 0;
}
#apiup.delete .trash:before {
  --r: 40deg;
}
#apiup.delete .trash:after {
  --r: -40deg;
}
#apiup.delete .trash .top .paper {
  -webkit-animation: paper 1.5s linear forwards .5s;
          animation: paper 1.5s linear forwards .5s;
}
#apiup.delete .trash .box:after {
  -webkit-animation: cut 1.5s linear forwards .5s;
          animation: cut 1.5s linear forwards .5s;
}
#apiup.delete, #apiup:hover {
  --btn: var(--background-hover);
  --shadow-y: 5px;
  --shadow-blur: 9px;
}
#apiup:active {
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --scale: .94;
}
	