<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icia.project.gabom.dao.IfoodDao">

<insert id="foodRegisterUpload" parameterType="food">
	INSERT INTO FOODSHOP VALUES(SQ_FOODSHOP.nextval,#{food_hostid},#{food_name},#{food_address},#{food_parkable},#{food_mindate},#{food_maxdate},#{food_mintime},#{food_maxtime},#{food_type},0,#{food_person},#{food_xpoint},#{food_ypoint})
			<selectKey keyProperty="food_number" resultType="integer" order="AFTER">
				SELECT SQ_FOODSHOP.CURRVAL FROM DUAL
			</selectKey>
	</insert>
	
</mapper>