<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icia.project.gabom.dao.IfoodDao">

<insert id="foodRegisterUpload" parameterType="food">
	INSERT INTO FOODSHOP VALUES(SQ_FOODSHOP.nextval,#{food_hostid},#{food_name},#{food_address},#{food_parkable},#{food_mindate},#{food_maxdate},#{food_mintime},#{food_maxtime},#{food_type},0,#{food_person},#{food_xpoint},#{food_ypoint})
			<selectKey keyProperty="food_number" resultType="integer" order="AFTER">
				SELECT SQ_FOODSHOP.CURRVAL FROM DUAL
			</selectKey>
	</insert>
	
	<insert id="foodreservation" parameterType="freservation" >
	INSERT INTO FOODRESERVATION VALUES(SQ_FOODRESERVATION.nextval,#{food_number},#{food_hostid},#{member_guestid},#{foodreservation_date},#{foodreservation_time},#{foodreservation_person},0,SYSDATE)
	</insert>
	
	
	<insert id="insertreple" parameterType="f_reple">
		INSERT INTO FOODREPLE VALUES(SEQ_FOOD_REPLE_NUMBER.nextval,#{food_number},#{member_guestid},SYSDATE,#{food_reple_content})
	</insert>
	
	<select id="showfreview" resultType="freview">
	SELECT FR.FOOD_REVIEW_CONTENT, FR.FOOD_REVIEW_DATE ,FRI.FOOD_REVIEW_SYSFILE
	FROM FOOD_REVIEW FR, FOOD_REVIEW_IMAGE FRI
	WHERE FR.FOOD_REVIEW_NUMBER=FRI.FOOD_REVIEW_NUMBER AND FR.FOOD_REVIEW_NUMBER=#{food_review_number}
	</select>
	
	
	<select id="getfreserdate" resultType="food">
	SELECT *
	FROM (SELECT DISTINCT RH.FOOD_NAME, RH.FOOD_ADDRESS,HF.FOOD_SYSNAME,RH.FOOD_NUMBER
	FROM FOODSHOP RH, FOODFILE HF, FOODRESERVATION HR
	WHERE RH.FOOD_NUMBER = HF.FOOD_NUMBER AND HR.FOOD_NUMBER = RH.FOOD_NUMBER AND HF.FOOD_IMAGETYPE=1
	)
	WHERE ROWNUM <![CDATA[ <= ]]>6
	
	</select>
	
	<select id="foodreple" resultType="f_reple">
	SELECT  HP.FOOD_REPLE_NUMBER, HP.MEMBER_GUESTID,HP.FOOD_REPLE_TIME,HP.FOOD_REPLE_CONTENT,MB.MEMBER_PROFILE_PICTURE
	FROM FOODREPLE HP, MEMBER MB
	WHERE HP.MEMBER_GUESTID = MB.MEMBER_ID AND FOOD_NUMBER=#{food_number} 
	ORDER BY FOOD_REPLE_TIME DESC
	</select>
	
	<select id="foodreview" resultType="freview">
	SELECT  HV.FOOD_REVIEW_NUMBER, HV.MEMBER_GUESTID,HV.FOOD_REVIEW_CONTENT,MB.MEMBER_PROFILE_PICTURE,
	HV.FOOD_REVIEW_DATE
	FROM FOOD_REVIEW HV, MEMBER MB
	WHERE HV.MEMBER_GUESTID = MB.MEMBER_ID AND FOOD_NUMBER=#{food_number} 
	ORDER BY FOOD_REVIEW_DATE DESC
	</select>
	
	
</mapper>