<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icia.project.gabom.dao.IhouseDao">

<insert id="houseRegisterUpload" parameterType="house">
	INSERT INTO REGISTHOUSE VALUES(SQ_REGISTHOUSE.nextval,#{house_hostid},#{house_name},#{house_address},#{house_person},#{house_parkable},#{house_rooms},#{house_beds},#{house_bathrooms},#{house_mindate},#{house_maxdate},#{house_price},#{house_type},0,#{house_xpoint},#{house_ypoint})
		<selectKey keyProperty="house_number" resultType="integer" order="AFTER">
				SELECT SQ_REGISTHOUSE.CURRVAL FROM DUAL
			</selectKey>
	</insert>
	
	<insert id="housereservation" parameterType="hreservation" >
	INSERT INTO HOUSERESERVATION VALUES(SQ_HOUSERESERVATION.nextval,#{house_number},#{house_hostid},#{member_guestid},#{reservation_checkin},#{reservation_checkout},#{reservation_person},#{reservation_totalprice},0,SYSDATE)
			<selectKey keyProperty="reservation_number" resultType="integer" order="AFTER">
				SELECT SQ_HOUSERESERVATION.CURRVAL FROM DUAL
			</selectKey>
	</insert>
	
	<insert id="insertreple">
		INSERT INTO HOUSEREPLE VALUES(SEQ_HOUSE_REPLE_NUMBER.nextval,#{house_number},#{member_guestid},SYSDATE,#{house_reple_content})
	</insert>
	
	<select id="showhreview" resultType="hreview">
	SELECT HR.HOUSE_REVIEW_CONTENT, HR.HOUSE_REVIEW_DATE ,HRI.HOUSE_REVIEW_SYSFILE,HR.HOUSE_NUMBER
	FROM HOUSE_REVIEW HR, HOUSE_REVIEW_IMAGE HRI
	WHERE HR.HOUSE_REVIEW_NUMBER=HRI.HOUSE_REVIEW_NUMBER AND HR.HOUSE_REVIEW_NUMBER=#{house_review_number}
	</select>
	
	
	<select id="getreserdate" resultType="house">
	 SELECT *
   FROM (SELECT  DISTINCT RH.HOUSE_NAME, RH.HOUSE_ADDRESS,HF.HOUSE_SYSNAME,RH.HOUSE_NUMBER
   FROM REGISTHOUSE RH, HOUSEFILE HF, HOUSERESERVATION HR
   WHERE RH.HOUSE_NUMBER = HF.HOUSE_NUMBER AND HR.HOUSE_NUMBER = RH.HOUSE_NUMBER AND HF.HOUSE_IMAGETYPE=1
   )
   WHERE ROWNUM <![CDATA[ <= ]]>6 
	
	</select>
	
	<select id="replelist" resultType="h_reple">
	SELECT  HP.HOUSE_REPLE_NUMBER, HP.MEMBER_GUESTID,HP.HOUSE_REPLE_TIME,HP.HOUSE_REPLE_CONTENT,MB.MEMBER_PROFILE_PICTURE
	FROM HOUSEREPLE HP, MEMBER MB
	WHERE HP.MEMBER_GUESTID = MB.MEMBER_ID AND HOUSE_NUMBER=#{house_number} 
	ORDER BY HOUSE_REPLE_TIME DESC
	</select>
	
	<select id="reviewlist" resultType="hreview">
	SELECT  HV.HOUSE_REVIEW_NUMBER, HV.MEMBER_GUESTID,HV.HOUSE_REVIEW_CONTENT,MB.MEMBER_PROFILE_PICTURE,
	HV.HOUSE_REVIEW_DATE
	FROM HOUSE_REVIEW HV, MEMBER MB
	WHERE HV.MEMBER_GUESTID = MB.MEMBER_ID AND HOUSE_NUMBER=#{house_number} 
	ORDER BY HOUSE_REVIEW_DATE DESC
	</select>
	
</mapper>