<?xml version="1.0" encoding="UTF-8"?>
<!-- 회원관련 sql -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.icia.dao.IMemberDao">

<!-- 
1.parameterTyped에 1개의 Type만 올 수 있다. Type 여러개 인 경우 생략할 것.
2.parameterTyped이 DTO(bean) 인 경우, #{필드명} 으로 쓴다.//
3.parameterTyped이 변수인 경우 #{변수명}
4.parameterTyped이 map<key, value> 인 경우 #{key}만 써라
5. resultType도 1개만 올 수 있는데, 1개 이상의 레코드를 검색 하는 경우 List 쓰지말고 그냥 DTO 타입만 명시
6.#{} 문자열인 경우 자동으로 '' 추가 됨 <-> ${} 이놈은 그냥 문자열 변환이 없다
7. 파라미터 타입은 생략가능하지만 가독성을 위해 비권장!! 

 -->
<select id="getLoginResult" parameterType="member" resultType="boolean">
	select count(*) from member where m_id=#{m_id} and m_pwd=#{m_pwd}
</select>
	
<insert id="memberJoin" parameterType="member" >
	INSERT INTO M VALUES(#{m_id},#{m_pwd},#{m_name},#{m_birth},#{m_addr},#{m_phone},default,1)
</insert>
	
<select id="getSecurityPwd" parameterType="String"  resultType="String" >
	select M_PWD from member where m_id=#{id}
</select>
	
<select id="getMemberInfo" parameterType="String"  resultType="member" >
	<!--select * from member where m_id=#{id} -->
	select * from G, M where M.M_POINT BETWEEN G.G_LOWPOINT and G.G_highpoint and M.M_ID=#{id}
</select>

<select id="hashMapTest" parameterType="Map" resultType="boolean">
	select count(*) from member where m_id=#{id} and m_pwd=#{pw}
	
</select>

<select id="hashMapTest2" parameterType="String" resultType="Map">
	select M_NAME, G_NAME from MINFO member where m_id=#{id}
	
</select>




</mapper>