<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icia.project.gabom.dao.IMyInfoDao">

<!-- 
1.parameterTyped에 1개의 Type만 올 수 있다. Type 여러개 인 경우 생략할 것.
2.parameterTyped이 DTO(bean) 인 경우, #{필드명} 으로 쓴다.//
3.parameterTyped이 변수인 경우 #{변수명}
4.parameterTyped이 map<key, value> 인 경우 #{key}만 써라
5. resultType도 1개만 올 수 있는데, 1개 이상의 레코드를 검색 하는 경우 List 쓰지말고 그냥 DTO 타입만 명시
6.#{} 문자열인 경우 자동으로 '' 추가 됨 <-> ${} 이놈은 그냥 문자열 변환이 없다
7. 파라미터 타입은 생략가능하지만 가독성을 위해 비권장!! 

 -->
 
<select id="selectshowMyInfo" parameterType="String" resultType="Member">
	select * from MEMBER where MEMBER_ID = #{name}
</select>


<update id="restChargeMoney" >
	UPDATE MEMBER SET member_money = member_money + #{chargeMoney} where MEMBER_ID = #{name} 
</update>
<!-- UPDATE table_name SET count = count + 1 WHERE article_no='1004' -->

<select id="getmyreser" resultType="hreservation">
	SELECT HR.RESERVATION_NUMBER,HR.HOUSE_NUMBER,HR.MEMBER_GUESTID,RH.HOUSE_NAME,HR.RESERVATION_CHECKIN,
	HR.RESERVATION_CHECKOUT,HR.RESERVATION_PERSON,HR.RESERVATION_TOTALPRICE
	FROM HOUSERESERVATION HR, REGISTHOUSE RH
	WHERE HR.HOUSE_NUMBER = RH.HOUSE_NUMBER AND HR.MEMBER_GUESTID=#{member_guestid} 
	AND HR.RESERVATION_CHECKOUT <![CDATA[ > ]]>SYSDATE 
	ORDER BY HR.RESERVATION_NUMBER

</select>

<select id="getmyfreser" resultType="freservation">
	SELECT FR.FOODRESERVATION_NUMBER,FR.FOOD_NUMBER,FR.MEMBER_GUESTID,FS.FOOD_NAME,FR.FOODRESERVATION_DATE,
	FR.FOODRESERVATION_TIME,FR.FOODRESERVATION_PERSON
	FROM FOODRESERVATION FR, FOODSHOP FS
	WHERE FR.FOOD_NUMBER = FS.FOOD_NUMBER AND FR.MEMBER_GUESTID=#{member_guestid} 
	ORDER BY FR.FOODRESERVATION_NUMBER

</select>

<select id="getreviewmyreser" resultType="hreservation">
	SELECT HR.RESERVATION_NUMBER,HR.MEMBER_GUESTID,RH.HOUSE_NAME,RH.HOUSE_NUMBER,HR.RESERVATION_CHECKIN,HR.RESERVATION_CHECKOUT,HR.RESERVATION_PERSON,HR.RESERVATION_TOTALPRICE
	FROM HOUSERESERVATION HR, REGISTHOUSE RH
	WHERE HR.HOUSE_NUMBER = RH.HOUSE_NUMBER AND HR.MEMBER_GUESTID=#{member_guestid} AND HR.RESERVATION_CHECKOUT<![CDATA[ < ]]>SYSDATE AND HR.HOUSE_REVIEW_STATUS=0
	ORDER BY HR.RESERVATION_NUMBER
</select>

<select id="getreviewmyfreser" resultType="freservation">
	SELECT FR.FOODRESERVATION_NUMBER,FR.FOOD_NUMBER,FR.FOOD_NUMBER,FR.MEMBER_GUESTID,FS.FOOD_NAME,FR.FOODRESERVATION_DATE,
	FR.FOODRESERVATION_TIME,FR.FOODRESERVATION_PERSON
	FROM FOODRESERVATION FR, FOODSHOP FS
	WHERE FR.FOOD_NUMBER = FS.FOOD_NUMBER AND FR.MEMBER_GUESTID=#{member_guestid} AND FR.FOODRESERVATION_DATE<![CDATA[ < ]]>SYSDATE AND FR.FOOD_REVIEW_STATUS=0

</select>

<insert id="inserthreview" parameterType="hreview">
	INSERT INTO HOUSE_REVIEW VALUES(SEQ_HOUSE_REVIEW_NUMBER.nextval,#{house_number},#{member_guestid},SYSDATE,#{house_review_content},#{reservation_number})
			<selectKey keyProperty="house_review_number" resultType="integer" order="AFTER">
				SELECT SEQ_HOUSE_REVIEW_NUMBER.CURRVAL FROM DUAL
			</selectKey>
</insert>



<select id="getmyhrevie" resultType="hreview">
	SELECT HR.HOUSE_REVIEW_DATE, RH.HOUSE_NAME, HR.MEMBER_GUESTID,HR.HOUSE_REVIEW_NUMBER
	FROM HOUSE_REVIEW HR, REGISTHOUSE RH
	WHERE HR.HOUSE_NUMBER=RH.HOUSE_NUMBER AND HR.MEMBER_GUESTID=#{member_guestid} ORDER BY HR.HOUSE_REVIEW_DATE
</select>

<select id="showhreview" resultType="hreview">
	SELECT HR.HOUSE_REVIEW_CONTENT, HR.HOUSE_REVIEW_DATE ,HRI.HOUSE_REVIEW_SYSFILE
	FROM HOUSE_REVIEW HR, HOUSE_REVIEW_IMAGE HRI
	WHERE HR.HOUSE_REVIEW_NUMBER=HRI.HOUSE_REVIEW_NUMBER AND HR.HOUSE_REVIEW_NUMBER=#{house_review_number}
</select>


<insert id="insertfreview" parameterType="freview">
	INSERT INTO FOOD_REVIEW VALUES(SEQ_FOOD_REVIEW_NUMBER.nextval,#{food_number},#{member_guestid},SYSDATE,#{food_review_content},#{foodreservation_number})
			<selectKey keyProperty="food_review_number" resultType="integer" order="AFTER">
				SELECT SEQ_FOOD_REVIEW_NUMBER.CURRVAL FROM DUAL
			</selectKey>
</insert>

<select id="getmyfrevie" resultType="freview">
	SELECT FR.FOOD_REVIEW_DATE, FS.FOOD_NAME, FR.MEMBER_GUESTID,FR.FOOD_REVIEW_NUMBER
	FROM FOOD_REVIEW FR, FOODSHOP FS
	WHERE FR.FOOD_NUMBER=FS.FOOD_NUMBER AND FR.MEMBER_GUESTID=#{member_guestid} ORDER BY FR.FOOD_REVIEW_DATE
</select>

<select id="getmysomowrite" resultType="SomoimBoard">
	SELECT  SB.BOARD_NUMBER, SM.SOMOIM_NAME,SB.BOARD_TITLE,SB.BOARD_CONTENT
	FROM SOMOIM_BOARD SB, SOMOIM SM
	WHERE SB.SOMOIM_NUMBER = SM.SOMOIM_NUMBER AND SB.BOARD_WRITER=#{member_guestid}
</select>

<select id="getmylike" resultType="snspost">
	SELECT SP.SNS_POSTS_NUMBER, SP.SNS_POSTS_CONTENT
	FROM SNS_POSTS SP, SNS_LIKE_HATE_COUNTER SC
	WHERE SP.SNS_POSTS_NUMBER = SC.SNS_POSTS_NUMBER AND SC.SNS_LIKE_HATE_MEMBER_ID=#{member_guestid}
</select>

<select id="getmysomolike" resultType="somoimboard">
	SELECT  SB.BOARD_NUMBER,SM.SOMOIM_NAME,SB.BOARD_TITLE,SB.BOARD_CONTENT,SL.LIKE_NAME
	FROM SOMOIM_BOARD SB, SOMOIM_BOARD_LIKE SL, SOMOIM SM
	WHERE SB.BOARD_NUMBER = SL.BOARD_NUMBER AND SB.SOMOIM_NUMBER = SM.SOMOIM_NUMBER  AND LIKE_NAME =#{member_guestid}
</select>

<select id="gethousereple" resultType="h_reple">
	SELECT hr.house_reple_content, hr.house_reple_number,rh.house_name
	FROM REGISTHOUSE RH, HOUSEREPLE HR
	WHERE RH.HOUSE_NUMBER = HR.HOUSE_NUMBER AND HR.MEMBER_GUESTID=#{member_guestid}
</select>

<select id="getfoodreple" resultType="f_reple">
	SELECT FS.FOOD_NAME, FR.FOOD_REPLE_NUMBER, FR.FOOD_REPLE_CONTENT
	FROM FOODSHOP FS, FOODREPLE FR
	WHERE FS.FOOD_NUMBER = FR.FOOD_NUMBER AND FR.MEMBER_GUESTID=#{member_guestid}
</select>

<select id="getsnsreple" resultType="snsCommentDto">
	SELECT SC.SNS_COMMENT_NUMBER, SC.SNS_COMMENT_CONTENT, SP.SNS_POSTS_CONTENT
	FROM SNS_COMMENT SC, SNS_POSTS SP
	WHERE SC.SNS_POSTS_NUMBER = SP.SNS_POSTS_NUMBER AND SC.SNS_COMMENT_MEMBER_ID=#{member_guestid}
</select>

<!-- 여기부터 서비스 업체 관련 -->

<select id="gethreserlist" resultType="hreservation">
	SELECT RH.HOUSE_NAME,HR.RESERVATION_NUMBER,HR.MEMBER_GUESTID,HR.RESERVATION_CHECKIN,
	HR.RESERVATION_CHECKOUT,HR.RESERVATION_PERSON,RESERVATION_TOTALPRICE
	FROM REGISTHOUSE RH, HOUSERESERVATION HR
	WHERE RH.HOUSE_NUMBER = HR.HOUSE_NUMBER AND RH.HOUSE_HOSTID=#{house_hostid} 
	AND HR.RESERVATION_CHECKIN<![CDATA[ > ]]>SYSDATE
	ORDER BY HR.RESERVATION_CHECKIN
</select>

<select id="getfreserlist" resultType="freservation">
	SELECT FS.FOOD_NAME,FR.FOODRESERVATION_NUMBER,FR.MEMBER_GUESTID,FR.FOODRESERVATION_DATE,
	FR.FOODRESERVATION_TIME,FR.FOODRESERVATION_PERSON
	FROM FOODSHOP FS, FOODRESERVATION FR
	WHERE FS.FOOD_NUMBER=FR.FOOD_NUMBER AND FS.FOOD_HOSTID=#{house_hostid} 
	AND FR.FOODRESERVATION_DATE<![CDATA[ > ]]>SYSDATE 
	ORDER BY FR.FOODRESERVATION_DATE
</select>

<select id="getfood" resultType="food">
	SELECT FF.FOOD_SYSNAME,FS.FOOD_ADDRESS, FS.FOOD_NAME,FS.FOOD_GRANTTYPE,FS.FOOD_NUMBER
	FROM  FOODSHOP FS, FOODFILE FF
	WHERE FF.FOOD_NUMBER=FS.FOOD_NUMBER AND FOOD_HOSTID=#{house_hostid} AND FF.FOOD_IMAGETYPE=1
	ORDER BY FS.FOOD_GRANTTYPE DESC
</select>

<select id="gethouse" resultType="house">
	SELECT HF.HOUSE_SYSNAME,RH.HOUSE_ADDRESS,RH.HOUSE_NAME,RH.HOUSE_GRANTTYPE,RH.HOUSE_NUMBER,
	RH.HOUSE_PRICE
	FROM REGISTHOUSE RH, HOUSEFILE HF
	WHERE RH.HOUSE_NUMBER=HF.HOUSE_NUMBER AND HOUSE_HOSTID=#{house_hostid} AND HF.HOUSE_IMAGETYPE=1
	ORDER BY RH.HOUSE_GRANTTYPE DESC
</select>

<select id="gethrlist" resultType="hreview">
	SELECT RH.HOUSE_NAME,HR.RESERVATION_NUMBER,HR.MEMBER_GUESTID,HR.RESERVATION_CHECKIN,
	HR.RESERVATION_CHECKOUT,HR.RESERVATION_PERSON,RESERVATION_TOTALPRICE
	FROM REGISTHOUSE RH, HOUSERESERVATION HR
	WHERE RH.HOUSE_NUMBER = HR.HOUSE_NUMBER AND RH.HOUSE_HOSTID=#{house_hostid} 
	AND HR.HOUSE_REVIEW_STATUS = 1
	ORDER BY HR.RESERVATION_CHECKIN
</select>

<select id="getfrlist" resultType="freview">
	SELECT FS.FOOD_NAME,FR.FOODRESERVATION_NUMBER,FR.MEMBER_GUESTID,FR.FOODRESERVATION_DATE,
	FR.FOODRESERVATION_TIME,FR.FOODRESERVATION_PERSON
	FROM FOODSHOP FS, FOODRESERVATION FR
	WHERE FS.FOOD_NUMBER=FR.FOOD_NUMBER AND FS.FOOD_HOSTID=#{house_hostid} 
	AND FR.FOOD_REVIEW_STATUS = 1
	ORDER BY FR.FOODRESERVATION_DATE 
</select>


<update id="changememinfo">
	UPDATE MEMBER SET MEMBER_NAME =#{member_name},MEMBER_PHONE=#{member_phone},MEMBER_EMAIL=#{member_email},
	MEMBER_BIRTH=#{member_birth},MEMBER_HOBBY=#{member_hobby},MEMBER_ADDRESS=#{member_address},
	MEMBER_PROFILE_CONTENTS=#{member_profile_contents} 
	WHERE MEMBER_ID=#{member_id}

</update>

</mapper>