<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icia.project.gabom.dao.IsnstimelineDao">

	<select id="getsnsTimeLine" resultType="snspost">
	<![CDATA[
		SELECT * FROM SNS_POSTS SPPP JOIN
(SELECT ROW_NUMBER() 
OVER(ORDER BY SPP.SNS_POSTS_NUMBER desc)
 AS RN,
SPP.SNS_POSTS_NUMBER,
SPP.SNS_POSTS_WRITER,
SPP.SNS_POSTS_DATE,
SPP.SNS_POSTS_EDIT_DATE,
SPP.SNS_POSTS_HASHTAG,
SPP.SNS_POSTS_AUTHORITY,
SPP.SNS_POSTS_REPORT,
DBMS_LOB.SUBSTR(SPP.SNS_POSTS_CONTENT,
DBMS_LOB.GETLENGTH(SPP.SNS_POSTS_CONTENT)) FROM SNS_POSTS SPP INNER JOIN 
(SELECT DISTINCT SP.SNS_POSTS_NUMBER,
SP.SNS_POSTS_WRITER,
SP.SNS_POSTS_DATE,
SP.SNS_POSTS_EDIT_DATE,
SP.SNS_POSTS_HASHTAG,
SP.SNS_POSTS_AUTHORITY,
SP.SNS_POSTS_REPORT,
DBMS_LOB.SUBSTR(SP.SNS_POSTS_CONTENT,
DBMS_LOB.GETLENGTH(SP.SNS_POSTS_CONTENT))
FROM SNS_POSTS SP
LEFT JOIN SNS_FRIEND SF
ON SP.SNS_POSTS_WRITER=SF.FRIEND_ID
WHERE (SP.SNS_POSTS_WRITER=#{id}
AND SP.SNS_POSTS_AUTHORITY=1) OR
(SP.SNS_POSTS_AUTHORITY=1 AND SF.FRIEND_MY_ID=#{id}) 
OR(SP.SNS_POSTS_WRITER=#{id} AND SP.SNS_POSTS_AUTHORITY=2)
OR SP.SNS_POSTS_AUTHORITY=0
ORDER BY SP.SNS_POSTS_NUMBER DESC) TOT
ON SPP.SNS_POSTS_NUMBER=TOT.SNS_POSTS_NUMBER)TOTT
ON SPPP.SNS_POSTS_NUMBER=TOTT.SNS_POSTS_NUMBER
WHERE TOTT.RN<=#{rowNum}
]]>
	</select>



</mapper>