<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icia.project.gabom.dao.ISomoimDao">

<!-- 
1.parameterTyped에 1개의 Type만 올 수 있다. Type 여러개 인 경우 생략할 것.
2.parameterTyped이 DTO(bean) 인 경우, #{필드명} 으로 쓴다.//
3.parameterTyped이 변수인 경우 #{변수명}
4.parameterTyped이 map<key, value> 인 경우 #{key}만 써라
5. resultType도 1개만 올 수 있는데, 1개 이상의 레코드를 검색 하는 경우 List 쓰지말고 그냥 DTO 타입만 명시
6.#{} 문자열인 경우 자동으로 '' 추가 됨 <-> ${} 이놈은 그냥 문자열 변환이 없다
7. 파라미터 타입은 생략가능하지만 가독성을 위해 비권장!! 

 -->
<!--  WHERE HOUSE_GRANTTYPE = 0 -->
<!-- 등록대기 타입이 0인 애들 출력 -->


<insert id="InsertSomoimMake" parameterType="somoim">
   INSERT INTO SOMOIM VALUES(SEQ_SOMOIM.nextval, #{somoim_maker},#{somoim_name},#{somoim_introduce},#{somoim_location},#{somoim_detail_location},#{somoim_interest},#{somoim_person},#{somoim_mainpicture},#{somoim_sys_mainpicture}, sysdate)
    <selectKey resultType="int" keyProperty="somoim_number" order="AFTER">
        SELECT SEQ_SOMOIM.CURRVAL FROM DUAL
    </selectKey>        
</insert>


<insert id="InsertOwnerMember" parameterType="somoim">
	INSERT INTO SOMOIM_MEMBER VALUES(#{somoim_number},  #{somoim_maker}, 1, 2, sysdate )
</insert>

<select id="selectMainSomoim" parameterType="String" resultType="Map">
	SELECT 
	 s.somoim_number,
	 s.somoim_location,
	 s.somoim_name,
	 s.somoim_sys_mainpicture,
	 sm.member_date,
	 sm.member_grade 
	FROM 
	 somoim s,
	 somoim_member sm 
	where 
	 s.somoim_number = sm.somoim_number 
	 and sm.member_status = 1 
	 and sm.member_name = #{name}
</select>

<select id="selectRoomInfo" parameterType="String" resultType="somoim">
	SELECT * FROM somoim where somoim_number = #{roomnum}
</select>

<select id="selectRoomMember" parameterType="String" resultType="Map">
	select m.member_profile_picture, m.member_profile_contents, m.member_name, sm.member_grade from SOMOIM_MEMBER sm, Member m where sm.MEMBER_NAME = m.MEMBER_ID and sm.somoim_number = #{roomnum} and sm.member_status = 1 
</select>


<insert id="insertMakeJunmoRoom" parameterType="jungmoroom" >
	INSERT INTO JUNGMO_ROOM VALUES(SEQ_JUNGMO_ROOM.nextval,  #{somoim_number}, #{jungmo_name}, #{jungmo_date}, #{jungmo_time}, #{jungmo_location}, #{jungmo_money}, sysdate )
</insert>

<select id="selecttMakeJunmoRoom" parameterType="int" resultType="jungmoroom">
	<![CDATA[
	select * from JUNGMO_ROOM where SOMOIM_NUMBER = #{somoim_number} and jungmo_date > sysdate order by jungmo_date
	]]>
	
</select>

<select id="selectAttendJunmoRoom"  resultType="jungmoroom">
	select jr.somoim_number, jr.jungmo_number, jr.jungmo_date ,jm.member_id as jungmo_join_id  from JUNGMO_ROOM jr, jungmo_member jm where jr.jungmo_number = jm.jungmo_number and jr.SOMOIM_NUMBER = #{somoim_number} and jm.member_id =#{id}   and jr.jungmo_date > sysdate order by jungmo_date 
	
</select>


<insert id="insertAttendjungmo"  parameterType="jungmoroom">
	insert into jungmo_member values(SEQ_jungmo_member.nextval, #{jungmo_number}, #{somoim_number}, #{jungmo_join_id}, sysdate)
</insert>

<delete id="deleteAttendjungmo"  parameterType="jungmoroom">
	DELETE FROM jungmo_member WHERE jungmo_number = #{jungmo_number} and somoim_number = #{somoim_number} and MEMBER_ID =  #{jungmo_join_id} 
</delete>

<select id="selectshowAttendList"   resultType="jungmoattend">
	 select
    m.member_name,
    m.member_profile_picture,
    m.member_profile_contents,
    sm.member_grade,
    jm.somoim_number
    from JUNGMO_MEMBER jm, MEMBER m, SOMOIM_MEMBER sm  
    where jm.member_id = m.member_id and jm.member_id=sm.member_name and jm.somoim_number=sm.somoim_number and  jungmo_number = #{jungmoNumber}  

</select>


<delete id="deleteOurSomoim"  parameterType="int">
	DELETE FROM somoim_member WHERE SOMOIM_NUMBER = #{somoimnum}   
</delete>

<delete id="deleteSomoimRoom"  parameterType="int">
	DELETE FROM somoim WHERE SOMOIM_NUMBER = #{somoimnum}  
</delete>

<delete id="deleteMySomoim"  parameterType="int">
	DELETE FROM somoim_member WHERE SOMOIM_NUMBER = #{somoimnum} and  MEMBER_NAME =#{name}
</delete>

</mapper>

