<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icia.project.gabom.dao.ISomoimDao">

<!-- 
1.parameterTyped에 1개의 Type만 올 수 있다. Type 여러개 인 경우 생략할 것.
2.parameterTyped이 DTO(bean) 인 경우, #{필드명} 으로 쓴다.//
3.parameterTyped이 변수인 경우 #{변수명}
4.parameterTyped이 map<key, value> 인 경우 #{key}만 써라
5. resultType도 1개만 올 수 있는데, 1개 이상의 레코드를 검색 하는 경우 List 쓰지말고 그냥 DTO 타입만 명시
6.#{} 문자열인 경우 자동으로 '' 추가 됨 <-> ${} 이놈은 그냥 문자열 변환이 없다
7. 파라미터 타입은 생략가능하지만 가독성을 위해 비권장!! 

 -->
<!--  WHERE HOUSE_GRANTTYPE = 0 -->
<!-- 등록대기 타입이 0인 애들 출력 -->


<insert id="InsertSomoimMake" parameterType="somoim">
   INSERT INTO SOMOIM VALUES(SEQ_SOMOIM.nextval, #{somoim_maker},#{somoim_name},#{somoim_introduce},#{somoim_location},#{somoim_detail_location},#{somoim_interest},#{somoim_person},#{somoim_mainpicture},#{somoim_sys_mainpicture}, sysdate)
    <selectKey resultType="int" keyProperty="somoim_number" order="AFTER">
        SELECT SEQ_SOMOIM.CURRVAL FROM DUAL
    </selectKey>        
</insert>


<insert id="InsertOwnerMember" parameterType="somoim">
	INSERT INTO SOMOIM_MEMBER VALUES(#{somoim_number},  #{somoim_maker}, 1, 2, sysdate )
</insert>

<select id="selectMainSomoim" parameterType="String" resultType="Map">
	SELECT 
	 s.somoim_number,
	 s.somoim_location,
	 s.somoim_name,
	 s.somoim_sys_mainpicture,
	 sm.member_date,
	 sm.member_grade 
	FROM 
	 somoim s,
	 somoim_member sm 
	where 
	 s.somoim_number = sm.somoim_number 
	 and sm.member_status = 1 
	 and sm.member_name = #{name}
</select>

<select id="selectRoomInfo" parameterType="String" resultType="somoim">
	SELECT * FROM somoim where somoim_number = #{roomnum}
</select>

<select id="selectRoomMember" parameterType="String" resultType="Map">
	select m.member_profile_picture, m.member_profile_contents, m.member_name, sm.member_grade from SOMOIM_MEMBER sm, Member m where sm.MEMBER_NAME = m.MEMBER_ID and sm.somoim_number = #{roomnum} and sm.member_status = 1 
</select>


<insert id="insertMakeJunmoRoom" parameterType="jungmoroom" >
	INSERT INTO JUNGMO_ROOM VALUES(SEQ_JUNGMO_ROOM.nextval,  #{somoim_number}, #{jungmo_name}, #{jungmo_date}, #{jungmo_time}, #{jungmo_location}, #{jungmo_money}, sysdate, #{jungmo_xpoint}, #{jungmo_ypoint} )
</insert>

<select id="selecttMakeJunmoRoom"  resultType="jungmoroom">
	<![CDATA[
	
select jr.*, nvl2(jm.member_number,1,0) as my_attend_check from JUNGMO_ROOM jr, (select * from JUNGMO_MEMBER where member_id = #{id}) jm  where jr.jungmo_number = jm.jungmo_number(+) and jr.somoim_number=#{somoim_number} and jr.jungmo_date > sysdate order by jungmo_date]]>
	
</select>

<select id="selectAttendJunmoRoom"  resultType="jungmoroom">
	select jr.somoim_number, jr.jungmo_number, jr.jungmo_date ,jm.member_id as jungmo_join_id  from JUNGMO_ROOM jr, jungmo_member jm where jr.jungmo_number = jm.jungmo_number and jr.SOMOIM_NUMBER = #{somoim_number} and jm.member_id =#{id}   and jr.jungmo_date > sysdate order by jungmo_date 
	
</select>


<insert id="insertAttendjungmo"  parameterType="jungmoroom">
	insert into jungmo_member values(SEQ_jungmo_member.nextval, #{jungmo_number}, #{somoim_number}, #{jungmo_join_id}, sysdate)
</insert>

<delete id="deleteAttendjungmo"  parameterType="jungmoroom">
	DELETE FROM jungmo_member WHERE jungmo_number = #{jungmo_number} and somoim_number = #{somoim_number} and MEMBER_ID =  #{jungmo_join_id} 
</delete>

<select id="selectshowAttendList"   resultType="jungmoattend">
	 select
    m.member_name,
    m.member_profile_picture,
    m.member_profile_contents,
    sm.member_grade,
    jm.somoim_number
    from JUNGMO_MEMBER jm, MEMBER m, SOMOIM_MEMBER sm  
    where jm.member_id = m.member_id and jm.member_id=sm.member_name and jm.somoim_number=sm.somoim_number and  jungmo_number = #{jungmoNumber}  

</select>


<delete id="deleteOurSomoim"  parameterType="int">
	DELETE FROM somoim_member WHERE SOMOIM_NUMBER = #{somoimnum}   
</delete>

<delete id="deleteSomoimRoom"  parameterType="int">
	DELETE FROM somoim WHERE SOMOIM_NUMBER = #{somoimnum}  
</delete>

<delete id="deleteMySomoim"  parameterType="int">
	DELETE FROM somoim_member WHERE SOMOIM_NUMBER = #{somoimnum} and  MEMBER_NAME =#{name}
</delete>

<insert id="insertSomoimBoard"  parameterType="somoimboard">
	insert into SOMOIM_BOARD values(SEQ_SOMOIM_BOARD.nextval, #{somoim_number}, #{board_writer}, #{board_type},#{board_title}, #{board_content},  #{board_first_pic},#{board_first_syspic},  #{board_second_pic},#{board_second_syspic},  #{board_third_pic},#{board_third_syspic},#{board_fix}, sysdate,sysdate)
</insert>



<select id="selectNotiBoard"  parameterType="int" resultType="somoimboard">

		select 
    rc.total_reple, lc.total_like
	,m.member_profile_picture, sb.board_content,sb.board_first_pic, sb.board_first_syspic, sb.board_fix, sb.board_number, sb.board_second_pic , sb.board_second_syspic, 
        sb.board_third_pic, sb.board_third_syspic, sb.board_title , sb.board_type, sb.board_write_date, sb.board_write_update, sb.board_writer,
        sb.somoim_number
	from 
	SOMOIM_BOARD sb, MEMBER m, 
    (select BOARD_NUMBER, count(*) as total_reple from SOMOIM_BOARD_REPLE GROUP by BOARD_NUMBER) rc, 
    (select BOARD_NUMBER, count(*) as total_like from SOMOIM_BOARD_LIKE GROUP by BOARD_NUMBER) lc 
	where  sb.board_writer = m.member_id 
    and sb.board_NUMBER = rc.board_number(+)
    and sb.board_number = lc.board_number(+)
    and SOMOIM_NUMBER = #{somoimnum} and BOARD_FIX = '고정' order by BOARD_WRITE_DATE desc
    
<!-- 	select  -->
<!-- 	m.member_profile_picture, sb.board_content,sb.board_first_pic, sb.board_first_syspic, sb.board_fix, sb.board_number, sb.board_second_pic , sb.board_second_syspic,  -->
<!--         sb.board_third_pic, sb.board_third_syspic, sb.board_title , sb.board_type, sb.board_write_date, sb.board_write_update, sb.board_writer, -->
<!--         sb.somoim_number -->
<!-- 	from  -->
<!-- 	SOMOIM_BOARD sb, MEMBER m  -->
<!-- 	where  sb.board_writer = m.member_id and SOMOIM_NUMBER = #{somoimnum} and BOARD_FIX = '고정' order by BOARD_WRITE_DATE desc -->
</select>



<select id="selectUnNotiBoard"  parameterType="int"  resultType="somoimboard">
	select 
    rc.total_reple, lc.total_like
	,m.member_profile_picture, sb.board_content,sb.board_first_pic, sb.board_first_syspic, sb.board_fix, sb.board_number, sb.board_second_pic , sb.board_second_syspic, 
        sb.board_third_pic, sb.board_third_syspic, sb.board_title , sb.board_type, sb.board_write_date, sb.board_write_update, sb.board_writer,
        sb.somoim_number
	from 
	SOMOIM_BOARD sb, MEMBER m, 
    (select BOARD_NUMBER, count(*) as total_reple from SOMOIM_BOARD_REPLE GROUP by BOARD_NUMBER) rc, 
    (select BOARD_NUMBER, count(*) as total_like from SOMOIM_BOARD_LIKE GROUP by BOARD_NUMBER) lc 
	where  sb.board_writer = m.member_id 
    and sb.board_NUMBER = rc.board_number(+)
    and sb.board_number = lc.board_number(+)
    and SOMOIM_NUMBER = #{somoimnum} and BOARD_FIX = '비고정' order by BOARD_WRITE_DATE desc
    
<!-- 	select  -->
<!-- 	m.member_profile_picture, sb.board_content,sb.board_first_pic, sb.board_first_syspic, sb.board_fix, sb.board_number, sb.board_second_pic , sb.board_second_syspic,  -->
<!--         sb.board_third_pic, sb.board_third_syspic, sb.board_title , sb.board_type, sb.board_write_date, sb.board_write_update, sb.board_writer, -->
<!--         sb.somoim_number -->
<!-- 	from SOMOIM_BOARD sb, MEMBER m  -->
<!-- 	where  sb.board_writer = m.member_id and SOMOIM_NUMBER = #{somoimnum} and BOARD_FIX = '비고정'order by BOARD_WRITE_DATE desc -->
</select>

<select id="selectBoardSomoim"  parameterType="int"  resultType="somoimboard">
	select 
	m.member_profile_picture, sb.board_content,sb.board_first_pic, sb.board_first_syspic, sb.board_fix, sb.board_number, sb.board_second_pic , sb.board_second_syspic, 
        sb.board_third_pic, sb.board_third_syspic, sb.board_title , sb.board_type, sb.board_write_date, sb.board_write_update, sb.board_writer,
        sb.somoim_number
	from SOMOIM_BOARD sb, MEMBER m 
	where  sb.board_writer = m.member_id and BOARD_NUMBER = #{board_number}  
</select>


<select id="checkBoardLike"  resultType="int">
	select count(*) as board_like  from SOMOIM_BOARD_LIKE where BOARD_NUMBER = #{board_number} and LIKE_NAME = #{name}
</select>


<select id="totalBoardLike"  resultType="int">
	select count(*) as total_like from SOMOIM_BOARD_LIKE where BOARD_NUMBER = #{board_number} 
</select>


<delete id="deleteBoardLike"  parameterType="somoimboard" >
	DELETE FROM SOMOIM_BOARD_LIKE WHERE BOARD_NUMBER = #{board_number} and LIKE_NAME = #{board_like_name}
</delete>


<insert id="insertBoardLike"  parameterType="somoimboard">
	insert into SOMOIM_BOARD_LIKE values(SEQ_SOMOIM_BOARD_LIKE.nextval, #{board_number}, #{somoim_number}, #{board_like_name})
</insert>


<insert id="insertBoardReple"  parameterType="somoimboard">
	insert into SOMOIM_BOARD_REPLE values(SEQ_SOMOIM_BOARD_REPLE.nextval, #{board_number}, #{somoim_number}, #{board_like_name}, #{somoim_board_reple_content}, sysdate, sysdate)
</insert>


<select id="selectBoardRepleList" parameterType="somoimboard" resultType="somoimreple">
	<![CDATA[
	  select * from(
    select
    sbr.somoim_board_reple_number,
    m.member_profile_picture,
    sbr.board_number, 
    sbr.somoim_board_reple_content,
    sbr.somoim_board_reple_date,
    sbr.somoim_board_reple_name,
    
    sbr.somoim_board_reple_update,
    sbr.somoim_number
    from Member m, SOMOIM_BOARD_REPLE sbr 
    where m.member_id = sbr.somoim_board_reple_name 
    and sbr.board_number =#{board_number} order by somoim_board_reple_number desc) where rownum <=5
	]]>
</select>

<select id="getBoardRepleCount" parameterType="int" resultType="int">
	 select count(*) from SOMOIM_BOARD_REPLE where BOARD_NUMBER = #{board_number} 
</select>

<select id="selectMySomoimInfo"  resultType="somoimmyinfo">
	 select * from SOMOIM_MEMBER where somoim_number = #{somoim_number} and member_name = #{id}
</select>



<select id="selectPagingBoardRepleList" parameterType="somoimreple" resultType="somoimreple">
	 <![CDATA[
	  
	  select * from ( 
 select ROWNUM rn, gg.* from(
    select
    sbr.somoim_board_reple_number,
    m.member_profile_picture,
    sbr.board_number, 
    sbr.somoim_board_reple_content,
    sbr.somoim_board_reple_date,
    sbr.somoim_board_reple_name,
    sbr.somoim_board_reple_update,
    sbr.somoim_number
    from Member m, SOMOIM_BOARD_REPLE sbr 
    where m.member_id = sbr.somoim_board_reple_name 
    and sbr.board_number =#{board_number}  order by somoim_board_reple_number desc ) gg where ROWNUM <=5*#{paging_number} ) where rn > 5*(#{paging_number}-1)
	
	  
	  
	]]>
</select>



<select id="selectjungmoinfo"  resultType="jungmoroom">
	 select * from JUNGMO_ROOM where jungmo_number = #{jungmo_number}
</select>


<delete id="deleteJungmo" parameterType="int">
	delete from jungmo_room where Jungmo_number = #{jungmo_number}
</delete>

<update id="modifyjunmo" parameterType="jungmoroom">
	update JUNGMO_ROOM set JUNGMO_NAME = #{jungmo_name}, JUNGMO_DATE = #{jungmo_date}, JUNGMO_TIME = #{jungmo_time}, JUNGMO_LOCATION = #{jungmo_location}, JUNGMO_MONEY=#{jungmo_money}  where JUNGMO_NUMBER=#{jungmo_number} 
</update>


<delete id="deleteboard" parameterType="int">
	delete from SOMOIM_BOARD where BOARD_NUMBER = #{board_number}
</delete>

<update id="updateSomoimBoard"  parameterType="somoimboard">
	update  SOMOIM_BOARD set
	board_type= #{board_type},
	board_title=#{board_title},
 	board_content= #{board_content}, 
  	board_first_pic= #{board_first_pic},
  	board_first_syspic= #{board_first_syspic},
    board_second_pic =#{board_second_pic},
    board_second_syspic =#{board_second_syspic},  
    board_third_pic =#{board_third_pic},
    board_third_syspic= #{board_third_syspic},
    board_fix = #{board_fix}, 
    BOARD_WRITE_UPDATE =BOARD_WRITE_UPDATE
    where board_number= #{board_number} 
</update>


<delete id="deleteSomoimBoardReple" parameterType="int">
	delete from SOMOIM_BOARD_REPLE where SOMOIM_BOARD_REPLE_NUMBER = #{somoim_board_reple_number}
</delete>













<insert id="somoalbumInsert" parameterType="photoalbum" >
	INSERT INTO SOMOIM_PHOTOALBUM VALUES(SEQ_SOMOIM_PHOTOALBUM.nextval,#{somo_number},#{somoalbum_oriname},#{somoalbum_sysname},SYSDATE,SYSDATE)
		<selectKey keyProperty="reservation_number" resultType="integer" order="AFTER">
				SELECT SEQ_SOMOIM_PHOTOALBUM.CURRVAL FROM DUAL
			</selectKey>
	</insert>
	
	
	<insert id="insertpicreple" parameterType="spreple" >
	INSERT INTO SOMOIM_PHOTO_REPLE VALUES(SEQ_SOMOIM_PHOTO_REPLE.nextval,#{photo_number},#{somoim_number},#{reply_id},#{reply_content},SYSDATE,SYSDATE)
		<selectKey keyProperty="reply_number" resultType="integer" order="AFTER">
				SELECT SEQ_SOMOIM_PHOTO_REPLE.CURRVAL FROM DUAL
			</selectKey>
	</insert>


</mapper>

