<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="icia.project.gabom.dao.ITripplanDao">

	<insert id="savetripplan" parameterType="trip">
		INSERT INTO TRIP_PLAN
		VALUES(SEQ_TRIP_PLAN.nextval,#{trip_id},#{trip_title},#{trip_area},#{trip_start_date},#{trip_end_date})
		<selectKey keyProperty="trip_number" resultType="integer"
			order="AFTER">
			SELECT SEQ_TRIP_PLAN.CURRVAL FROM DUAL
		</selectKey>
	</insert>

	<insert id="savetripdate" parameterType="tripdate">
		INSERT INTO TRIP_PLAN_DATE VALUES(#{date},#{trip_number2},#{index},null)
	</insert>

	<insert id="togetherplan" parameterType="trfriend">
		INSERT INTO TRIP_MEMBER VALUES(#{trip_number},#{share_id},0)
	</insert>

	<select id="requestmember" resultType="trfriend">
		select TP.TRIP_TITLE, TP.TRIP_ID, TM.SHARE_ID, TM.TRIP_TYPE
		from TRIP_PLAN TP, TRIP_MEMBER TM
		where TP.TRIP_NUMBER=TM.TRIP_NUMBER AND TRIP_ID=#{trip_id} AND
		TM.TRIP_TYPE=0
	</select>

	<select id="requestme" resultType="trfriend">
		select TP.TRIP_TITLE, TP.TRIP_ID, TM.SHARE_ID, TM.TRIP_TYPE,TP.TRIP_NUMBER
		from TRIP_PLAN TP, TRIP_MEMBER TM
		where TP.TRIP_NUMBER=TM.TRIP_NUMBER AND SHARE_ID=#{trip_id} AND
		TM.TRIP_TYPE=0
	</select>

	<select id="getmyplan" resultType="trfriend">
		
		SELECT TP.TRIP_NUMBER,TP.TRIP_ID,TP.TRIP_TITLE, TP.TRIP_AREA,
		TP.TRIP_START_DATE, tp.trip_end_date,  nvl(tpr.trip_plan_apply,0) trip_plan_appry_status
		FROM TRIP_PLAN TP, TRIP_MEMBER TM,  trip_plan_recommand tpr
		WHERE tp.TRIP_NUMBER = tpr.TRIP_NUMBER(+) and TP.TRIP_NUMBER=TM.TRIP_NUMBER AND share_id=#{trip_id} and
		trip_type=1
		UNION
		 select tp.*, nvl(tpr.trip_plan_apply,0) trip_plan_appry_status from TRIP_PLAN tp, trip_plan_recommand tpr  where tp.TRIP_NUMBER = tpr.TRIP_NUMBER(+) and trip_id=#{trip_id}
        
	</select>

	<select id="detailplan" resultType="trip">
		SELECT TP.TRIP_NUMBER, TP.TRIP_ID, TP.TRIP_TITLE, TP.TRIP_START_DATE,
		TP.TRIP_END_DATE,TPD.TRIP_DAY,TP.TRIP_AREA
		FROM TRIP_PLAN TP, TRIP_PLAN_DATE TPD
		WHERE TP.TRIP_NUMBER=TPD.TRIP_NUMBER AND TP.TRIP_NUMBER=#{trip_number}
		ORDER BY TPD.TRIP_DAY
	</select>







	<select id="selectRecentChattingData" parameterType="int" resultType="chattingtrip">
	<![CDATA[
	 select tc.chatting_content, to_char(tc.chatting_date,'YYYY-MM-DD') as chatting_date ,tc.chatting_name, tc.trip_number ,m.member_profile_picture chatting_profile 
	from trip_chatting tc, member m  
	where tc.chatting_name = m.Member_id 
	and TRIP_NUMBER = #{trip_number} 
	and chatting_date between to_CHAR((select min(chatting_date) from (select * from trip_chatting where TRIP_NUMBER = #{trip_number} order by chatting_date desc ) where RowNum <= 10), 'YYYY/MM/DD') 
	and to_CHAR((select min(chatting_date)+1 from (select * from trip_chatting where TRIP_NUMBER = #{trip_number} order by chatting_date desc ) where RowNum <= 10)+2, 'YYYY/MM/DD')
	order by chatting_date asc
	]]>
</select>
	
	
   
<select id="selectNextDayInfinityChattingData"  resultType="String">
<![CDATA[
WITH t As(
	select chatting_date 
	 from trip_chatting tc, member m  
	 where tc.chatting_name = m.Member_id 
	 and TRIP_NUMBER = #{trip_number} 
	 and chatting_date between #{date} 
	 and TO_CHAR(TO_DATE(#{date}, 'YYYY-MM-DD'), 'YYYY/MM/DD') 
	  and rownum = 1       
)
select * from(
select tc.chatting_date from trip_chatting tc, t d
where tc.chatting_date < d.chatting_date
order by tc.chatting_date desc 
) where rownum = 1

]]>
</select>

<select id="selectInfinityChattingData"  resultType="chattingsomoim">
	 select tc.*, 
	 m.member_profile_picture chatting_profile 
	 from trip_chatting tc, member m  
	 where tc.chatting_name = m.Member_id 
	 and TRIP_NUMBER = #{trip_number} 
	 and chatting_date between #{date} 
	 and TO_CHAR(TO_DATE(#{date}, 'YYYY-MM-DD')+1, 'YYYY/MM/DD') 
	 order by chatting_date asc
</select>



	<insert id="insertPlanDetail" parameterType="tripplandetail">
		INSERT INTO TRIP_PLAN_DETAIL VALUES(#{trip_number},#{trip_date},#{trip_destination}, '없음',#{trip_xpoint},#{trip_ypoint},#{trip_title},#{trip_img},#{trip_order},#{trip_type})
	</insert>
	
	
	
	
	
	<select id="triphouse" resultType="house">
	SELECT * FROM REGISTHOUSE R, HOUSEFILE HF 
	WHERE R.HOUSE_NUMBER = HF.HOUSE_NUMBER AND HOUSE_ADDRESS LIKE '%'||#{areaCode}||'%' AND HOUSE_IMAGETYPE=1 AND HOUSE_GRANTTYPE=1
	</select>
	
	<insert id="housereservation" parameterType="hreservation" >
	INSERT INTO HOUSERESERVATION VALUES(SQ_HOUSERESERVATION.nextval,#{house_number},#{house_hostid},#{member_guestid},#{reservation_checkin},#{reservation_checkout},#{reservation_person},#{reservation_totalprice},0)
			<selectKey keyProperty="reservation_number" resultType="integer" order="AFTER">
				SELECT SQ_HOUSERESERVATION.CURRVAL FROM DUAL
			</selectKey>
	</insert>
	
	
	<select id="selectReservationHouse" resultType="reservationplanhouse">
	select rh.HOUSE_NAME, rh.HOUSE_ADDRESS, rh.HOUSE_XPOINT, rh.HOUSE_YPOINT, hf.HOUSE_SYSNAME, hr.RESERVATION_CHECKIN, hr.RESERVATION_CHECKOUT  
	from TRIP_PLAN_DATE tpd, HOUSERESERVATION hr, RegistHouse rh, housefile hf
	where tpd.RESERVATION_NUMBER = hr.reservation_number 
	and hr.HOUSE_NUMBER = rh.HOUSE_NUMBER 
	and rh.HOUSE_NUMBER = hf.HOUSE_NUMBER 
	and hf.HOUSE_IMAGETYPE = 1 and tpd.trip_day = #{day} and tpd.trip_number=#{tripNum}
	</select>
	
	
	
	<insert id="insertHousePlanDetail"  >
	INSERT INTO TRIP_PLAN_DETAIL 
	VALUES(#{tripNum},#{day},#{HouseInfo.house_address},'없음',#{HouseInfo.house_xpoint},#{HouseInfo.house_ypoint},#{HouseInfo.house_name},#{HouseInfo.house_sysname},#{nextplan},1)
			
	</insert>
	
	
	<update id="updatetripmemo" parameterType="tripmemoupdate">
	UPDATE TRIP_PLAN_DETAIL SET TRIP_MEMO = #{trip_memo} WHERE TRIP_NUMBER = #{trip_number} AND TRIP_DATE = #{trip_date} AND TRIP_ORDER = #{trip_order} AND TRIP_TITLE = #{trip_title}
	</update>
	
	<!-- 여행지 검색 -->
 	<select id="searchtrippaln" resultType="trip">
	SELECT TP.TRIP_NUMBER,TP.TRIP_TITLE,TP.TRIP_AREA,TP.TRIP_START_DATE,TP.TRIP_END_DATE
	FROM TRIP_PLAN TP,TRIP_PLAN_RECOMMAND TPR
	WHERE TP.TRIP_NUMBER = TPR.TRIP_NUMBER AND TRIP_AREA=#{trip_area} AND TPR.TRIP_PLAN_APPLY =2
	</select> 
	
	
	<insert id="insertShareTripPlan" parameterType="trip">
		INSERT INTO TRIP_PLAN
		VALUES(SEQ_TRIP_PLAN.nextval,#{trip_id},#{trip_title},#{trip_area},#{trip_start_date},#{trip_end_date})
		<selectKey keyProperty="trip_number" resultType="integer"
			order="AFTER">
			SELECT SEQ_TRIP_PLAN.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<insert id="insertShareTripPlanDetail" parameterType="int">
		 insert into TRIP_PLAN_DETAIL 
		 select DECODE(TRIP_NUMBER,0,1,#{newNumber}), TRIP_DATE, trip_destination, DECODE(TRIP_MEMO,'','없음','없음'),trip_xpoint,trip_ypoint,trip_title,trip_img,trip_order,trip_type 
        from TRIP_PLAN_DETAIL where trip_number = #{Number}
		
	</insert>
	
	<select id="selectHouseReserCheck" parameterType="String" resultType="map">
	select TRIP_NUMBER, TRIP_DAY, NVL(RESERVATION_NUMBER,0) RESERVATION_NUMBER from TRIP_PLAN_DATE where trip_number = #{tripNum}
	</select> 
	
</mapper>